.answer-errors
  = render 'shared/errors', resource: @answer
h1= @question.title
p= @question.body
= render 'answers/form', resource_model: [@answer], question: @question
.answers
  p= render @question.answers

